/* this is the .css file */

html
{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    /*background-color: black;*/
}

canvas 
{ 
    image-rendering: pixelated; 
    user-select: none;
}

#trackSpan
{
    padding-top: 10px;
    font-size: 10px;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.mediaImg 
{
	animation: zoominoutsinglefeatured 1s infinite ;
    display: none;
    margin-top:10px;
}

/* gui fonts */

@font-face 
{
    font-family: 'pixelsquare';
    src: url('../gui/fonts/pixelsquare.ttf');
}
